.employee__list {
    padding: 1rem;
    border: 1px solid wheat;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    font-size: clamp(12px, 2vw, 18px);

    select {
        font-weight: 700;
        background-color: transparent;
        border: none;
        color: wheat;
        font-size: clamp(12px, 2vw, 18px);
        border-right: 1px solid #ffffff0f;

        &:hover,
        &:active {
            color: #fff;
        }
    }
}

.employee__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .3fr;
    border-bottom: 1px solid #ffffff0f;
    gap: 1rem;
    padding: 5px 12px;
    cursor: pointer;
}

.employee__itemTop {
    border: 1px solid wheat;
    font-weight: 600;
    border-radius: 1vw;
    background-color: #ffffff0f;
    margin-bottom: 10px;
}

.employee__field {
    border-right: 1px solid #ffffff0f;
}

.employee__checked {
    text-align: center;
}

.employee__check {
    width: clamp(12px, 2vw, 25px);
    margin: 0 auto;
}

@media (max-width: 600px) {
    .employee__item {
        grid-template-columns: repeat(2, 1fr);
    }

    .employee__list {
        select,
        .employee__field {
            border-right: none;
        }
    }
}
