.filter__wrapper {
    box-sizing: border-box;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(2, minmax(100px, max-content));
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;

    border: 1px solid wheat;
    border-radius: 1vw;
    padding: clamp(8px, .3vw, 16px) 1rem;
}

.fieldset__sort,
.fieldset__filter {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(16px, 1vw, 32px);
    width: 100%;
    height: 100%;
    font-size: clamp(12px, 2vw, 18px);
    border-radius: 1vw;
    align-items: center;
}

.fieldset__filter {
    grid-template-columns: repeat(2, 1fr);
}

.filter__finder {
    max-width: 20vw;
    min-width: 320px;


    input {
        width: 100%;
        padding: .6rem;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        color: wheat;
        font-size: inherit;
    }
}

.filter__sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: max-content;

    p {
        grid-column: 1/-1;
    }

}

.filter__radio {
    grid-column: 1 / -1;
}

.filter__label {
    opacity: .8;
}

.filter__buttonUp,
.filter__buttonDown {

    background-image: url('../../../assets/img/arrow-down.svg');
    background-position: center;
    background-size: contain;
    background-color: wheat;
    background-repeat: no-repeat;

    padding: 0;
    width: 2rem;
    height: 2rem;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.filter__buttonDown {
    transform: rotate(180deg);

    &:hover {
        transform: scale(1.05) rotate(180deg);
    }
}


@media (max-width: 1024px) {
    .filter__radio {
        display: grid;
        grid-template-columns: 1fr;
    }

    .filter__finder {
        min-width: 200px;
    }
}

@media (max-width: 768px) {
    .filter__wrapper {
        grid-template-columns: 1fr;
    }
    .filter__finder {
        min-width: 100%;
    }
    .filter__sort {
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
    .filter__radio {
        grid-template-columns: repeat(3, auto);
    }
}
@media (max-width: 428px) {
    .filter__finder {
        grid-column: 1 / -1;
        min-width: 100%;
    }
    .fieldset__filter {
        grid-template-columns: 1fr;
    }
    .filter__sort {
        gap: 6px;
    }
    .filter__buttonUp,
    .filter__buttonDown{
        width: 22px;
        height: 22px;
    }
}



